/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06-Oct-2017, 15:51:29
    Author     : Administrator
*/

.table-smaller-text{
    font-size: 10px;

}

.table-header-total{
    font-size: 11px;
    font-weight: bold;
}

left-space-button{
    margin-left: 20px;
}

.table-smaller-text-bolder{
    font-size: 12px;
    font-weight: 900;
}


.testimonial-group > .row {
    overflow-x: auto;
    white-space: nowrap;
}

.each-settlement-button-margin-left{
    margin-left: 30px;
}

div.scrollmenu {
    background-color: #fff;
    overflow: auto;
    white-space: nowrap;
}

div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

div.scrollmenu a:hover {
    background-color: #fff;
}

div.table-container-scrollbar {
    height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
    margin-top: -20px;
    background-color: pink;
}

.QTY-color-code-order{
    background-color: #4ad46a;
    border-style: solid;
    padding: 1px;
    padding-right: 2%;
    padding-left: 2%;
    text-align: center;
}

.QTY-color-code-reim{
    background-color: #a10808;
    border-style: solid;
    border-color: #000000;
    padding: 1px;
    padding-right: 2%;
    padding-left: 2%;
    color: #ffffff;
    text-align: center;

}
.QTY-color-code-TQTY{
    background-color: #2480f0;
    border-style: solid;
    border-color: #000000;
    padding: 1px;
    padding-right: 2%;
    padding-left: 2%;
    color: #ffffff;
    text-align: center;
}