/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06-Oct-2017, 15:51:29
    Author     : Administrator
*/

.table-smaller-text{
  font-size: 10px;
  
}

.table-header-total{
    font-size: 11px;
    font-weight: bold;
}

left-space-button{
    margin-left: 20px;
}

.table-smaller-text-bolder{
  font-size: 12px;
  font-weight: 900;
}


.testimonial-group > .row {
  overflow-x: auto;
  white-space: nowrap;
}
